
@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('TTF/IosevkaCustomNerdFont-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('TTF/IosevkaCustomNerdFont-ExtendedThin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('TTF/IosevkaCustomNerdFont-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('TTF/IosevkaCustomNerdFont-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('TTF/IosevkaCustomNerdFont-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('TTF/IosevkaCustomNerdFont-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('TTF/IosevkaCustomNerdFont-ThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('TTF/IosevkaCustomNerdFont-ExtendedThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('TTF/IosevkaCustomNerdFont-ExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('TTF/IosevkaCustomNerdFont-ExtendedExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('TTF/IosevkaCustomNerdFont-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('TTF/IosevkaCustomNerdFont-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('TTF/IosevkaCustomNerdFont-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('TTF/IosevkaCustomNerdFont-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('TTF/IosevkaCustomNerdFont-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('TTF/IosevkaCustomNerdFont-ExtendedExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('TTF/IosevkaCustomNerdFont-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('TTF/IosevkaCustomNerdFont-ExtendedLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('TTF/IosevkaCustomNerdFont-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('TTF/IosevkaCustomNerdFont-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('TTF/IosevkaCustomNerdFont-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('TTF/IosevkaCustomNerdFont-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('TTF/IosevkaCustomNerdFont-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('TTF/IosevkaCustomNerdFont-ExtendedLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('TTF/IosevkaCustomNerdFont-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('TTF/IosevkaCustomNerdFont-Extended.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('TTF/IosevkaCustomNerdFont-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('TTF/IosevkaCustomNerdFont-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('TTF/IosevkaCustomNerdFont-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('TTF/IosevkaCustomNerdFont-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('TTF/IosevkaCustomNerdFont-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('TTF/IosevkaCustomNerdFont-ExtendedItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('TTF/IosevkaCustomNerdFont-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('TTF/IosevkaCustomNerdFont-ExtendedMedium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('TTF/IosevkaCustomNerdFont-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('TTF/IosevkaCustomNerdFont-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('TTF/IosevkaCustomNerdFont-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('TTF/IosevkaCustomNerdFont-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('TTF/IosevkaCustomNerdFont-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('TTF/IosevkaCustomNerdFont-ExtendedMediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('TTF/IosevkaCustomNerdFont-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('TTF/IosevkaCustomNerdFont-ExtendedSemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('TTF/IosevkaCustomNerdFont-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('TTF/IosevkaCustomNerdFont-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('TTF/IosevkaCustomNerdFont-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('TTF/IosevkaCustomNerdFont-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('TTF/IosevkaCustomNerdFont-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('TTF/IosevkaCustomNerdFont-ExtendedSemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('TTF/IosevkaCustomNerdFont-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('TTF/IosevkaCustomNerdFont-ExtendedBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('TTF/IosevkaCustomNerdFont-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('TTF/IosevkaCustomNerdFont-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('TTF/IosevkaCustomNerdFont-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('TTF/IosevkaCustomNerdFont-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('TTF/IosevkaCustomNerdFont-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('TTF/IosevkaCustomNerdFont-ExtendedBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('TTF/IosevkaCustomNerdFont-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('TTF/IosevkaCustomNerdFont-ExtendedExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('TTF/IosevkaCustomNerdFont-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('TTF/IosevkaCustomNerdFont-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('TTF/IosevkaCustomNerdFont-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('TTF/IosevkaCustomNerdFont-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('TTF/IosevkaCustomNerdFont-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('TTF/IosevkaCustomNerdFont-ExtendedExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('TTF/IosevkaCustomNerdFont-Heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('TTF/IosevkaCustomNerdFont-ExtendedHeavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('TTF/IosevkaCustomNerdFont-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('TTF/IosevkaCustomNerdFont-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('TTF/IosevkaCustomNerdFont-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('TTF/IosevkaCustomNerdFont-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('TTF/IosevkaCustomNerdFont-HeavyItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('TTF/IosevkaCustomNerdFont-ExtendedHeavyItalic.ttf') format('truetype');
}
